# Node
node_modules
.pnpm-store

# Expo / React Native
.expo
.expo-shared
web-build
dist
build
android
ios

# Env
.env*
.envrc
supabase/.temp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
coverage
